/* 
    added by juntima <juntima@tni.ac.th>
    Jan,18 2019
*/

@media(max-width: 991px) {

    #home-course #major a>img{
        width: 65%; /* icon fac */
    }
   
   
    #card_bec,#card_mas,#card_inter{
        font-size: 26px;
    }
    #dep,#facilities{
        font-size: 26px;
    }

    /* TAB Exchange program*/
    #exdetail-tab-just>span,#exprogram-tab-just>span,#exteacher-tab-just>span,#exstudent-tab-just>span,#exuniversity-tab-just>span{
        display: none;
    }
    #exdetail-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f6";
    }
    #exprogram-tab-just::before{
        font-family: FontAwesome;
        content: "\f19d";
    }
    #exteacher-tab-just::before{
        font-family: FontAwesome;
        content: "\f2bc";
    }
    #exstudent-tab-just::before{
        font-family: FontAwesome;
        content: "\f2ba";
    }
    #exuniversity-tab-just::before{
        font-family: FontAwesome;
        content: "\f00b";
    }
    #exdetail>h5::before{
        content: "รายละเอียดโครงการแลกเปลี่ยน";
    }
    #exprogram>h5::before{
        content: "ประกาศรับสมัครโครงการแลกเปลี่ยน";
    }
    #exteacher>h5::before{
        content: "บันทึกประสบการณ์นักศึกษาโครงการแลกเปลี่ยน ดูงานและทัศนศึกษา";
    }
    #exstudent>h5::before{
        content: "บันทึกประสบการณ์อาจารย์/บุคลากรโครงการแลกเปลี่ยน ดูงานและทัศนศึกษา";
    }
    #exuniversity>h5::before{
        content: "รายชื่อมหาวิทยาลัย/สถาบันต่างประเทศที่มีความร่วมมือทางวิชาการ";
    }
   
 
  
}

@media(max-width: 767px) {

    #logo-tni > a{   
        display: block;
        border: 1px solid red;
    
    }
    
    #home-course #major a>img{
        width: 70%; /* icon fac */
    }
   
    #admiss-nav-pec img ,
    #news-nav-pec img
    {   /*add by juntima */
        display: none;
    }
    #accordion.dropdown-bachelor{  /*add by juntima */
        margin: auto;
    }
    #fac-nav-pec h1{
        font-size: 18px;
        line-height: 10px;       
    }
    #fac-nav-pec h2{
        font-size: 16px;
        line-height: 6px;
        
    }
    #fac-nav-pec img{
        display: none;
    }
    #collapse1 a>.card-body {
        font-size: 26px;
    }
    #card_bec,#card_mas,#card_inter,#dep,#facilities{
        font-size: 22px;
    }
    #card_bec>i,#card_mas>i,#card_inter>i{
        font-size:40px;
    }
    #myTabJust>li>a{
        font-size: 20px;
    }
    #board h1{
        padding:9px;    
    }

     /* TAB allnew */
     #allnews-tab-just>span,#student-tab-just>span,#exchange_scholarship-tab-just>span,#co_operative-tab-just>span,#research-tab-just>span{
        display: none;
    }
    #allnews-tab-just::before{
        font-family: FontAwesome;
        content: "\f00a";
    }
    #student-tab-just::before{
        font-family: FontAwesome;
        content: "\f091";
    }
    #exchange_scholarship-tab-just::before{
        font-family: FontAwesome;
        content: "\f19d";
    }
    #co_operative-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f2";
    }
    #research-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f6";
    }
    #allnews>h5::before{
        content: "ข่าวทั้งหมด";
    }
    #student>h5::before{
        content: "ผลงานนักศึกษา";
    }
    #exchange_scholarship>h5::before{
        content: "ทุนและโครงการแลกเปลี่ยน";
    }
    #co_operative>h5::before{
        content: "สหกิจศึกษาและฝึกงาน";
    }
    #research>h5::before{
        content: "สัมมนาและงานวิจัย";
    }
    /* end tab allnew */
   
     /* TAB Exchange program*/
     #exdetail-tab-just>span,#exprogram-tab-just>span,#exteacher-tab-just>span,#exstudent-tab-just>span,#exuniversity-tab-just>span{
        display: none;
    }
    #exdetail-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f6";
    }
    #exprogram-tab-just::before{
        font-family: FontAwesome;
        content: "\f19d";
    }
    #exteacher-tab-just::before{
        font-family: FontAwesome;
        content: "\f2bc";
    }
    #exstudent-tab-just::before{
        font-family: FontAwesome;
        content: "\f2ba";
    }
    #exuniversity-tab-just::before{
        font-family: FontAwesome;
        content: "\f00b";
    }
    #exdetail>h5::before{
        content: "รายละเอียดโครงการแลกเปลี่ยน";
    }
    #exprogram>h5::before{
        content: "ประกาศรับสมัครโครงการแลกเปลี่ยน";
    }
    #exteacher>h5::before{
        content: "บันทึกประสบการณ์นักศึกษาโครงการแลกเปลี่ยน ดูงานและทัศนศึกษา";
    }
    #exstudent>h5::before{
        content: "บันทึกประสบการณ์อาจารย์/บุคลากรโครงการแลกเปลี่ยน ดูงานและทัศนศึกษา";
    }
    #exuniversity>h5::before{
        content: "รายชื่อมหาวิทยาลัย/สถาบันต่างประเทศที่มีความร่วมมือทางวิชาการ";
    }
  
    #m_present>a>i{     
        display: none;
    }

    .btn-all{ 
        width: 100%;
        margin: 15px 0;
        text-align: center;
        background: #f50000 !important;
    }

    .card#dt_present{   /* ไม่แสดงปุ่มที่เป็น card*/
        display: none;
    }
     
    #m_present>a.btn-all{     /* แสดงปุ่มเล็ก */
        display: inline-block ;

    }
    /* tni presentation 3 ภาษา */
    .present{
        text-align:center;
    }
    .present>div>div>iframe{
        margin-bottom: 0.5em; 
        margin-top: 1.0em;  
    }
    .present>div>#th::after{
        content: "Thai Version";
        font-size: 35px;
    }
    .present>div>#en::after{
        content: "English Version";
        font-size: 35px; 
    }
    .present>div>#jp::after{
        content: "Japanese Version";
        font-size: 35px;
    }
    .present>div>h2{
        display: none;
    }

  
   
 
}

@media(max-width: 575px) {
    #home-course>h3,#fac-course>h3 {
        font-size: 22px;
        line-height: 24px;
    }
    #home-course #major a,#fac-course a,#home-course a#bi,#home-course a#mit,#home-course a#dc  {
        /* width: 47%; */
        width: 98%;
    }
    #home-course #major a>img{
        width: 30%; /* icon fac */
    }
   
    #fac-course a:last-child{
        width: 98%;
    }
    
    #home-learn2know a {
        width: auto;
        margin: 5% auto 0 auto;
        text-align: center;
        white-space: nowrap;
    }
    #home-learn2know>div {
        flex-direction: column;
    }
    #home-learn2know>div>div {
        padding: 0 15px;
    }

    #fac-nav-pec img{
        display: none;
    }
    #fac-nav-pec h1 {
        font-size: 20px;
        line-height: 18px;
    }
    #alumni img{
        height: 100px;  /* ความสูงปรับให้เป็นออโต้ */
        width: 100px;  /* ความสูงปรับให้เป็นออโต้ */  
    }
    #alumni h4{
        font-size: 20px;
        line-height: 18px;
    }
    #alumni h5{
        font-size: 16px;
        line-height: 10px;
    }
    #collapse1 a>.card-body {
        font-size: 22px;
    }
    #card_bec,#card_mas,#card_inter,#dep,#facilities,#board{
        font-size: 22px;
    }
    #card_bec>i,#card_mas>i,#card_inter>i,#dep>i{
        font-size:40px;
    }
    #table>tr>td{
        font-size: 16px;
    }
    #myTabJust>li>a{
        font-size: 18px;
      
    }
    #board h1{
        padding:10px;    }
    #executive h1{
        line-height: 24px;
    }

    /* TAB allnew */
    #allnews-tab-just>span,#student-tab-just>span,#exchange_scholarship-tab-just>span,#co_operative-tab-just>span,#research-tab-just>span{
        display: none;
    }
    #allnews-tab-just::before{
        font-family: FontAwesome;
        content: "\f00a";
    }
    #student-tab-just::before{
        font-family: FontAwesome;
        content: "\f091";
    }
    #exchange_scholarship-tab-just::before{
        font-family: FontAwesome;
        content: "\f19d";
    }
    #co_operative-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f2";
    }
    #research-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f6";
    }
    #allnews>h5::before{
        content: "ข่าวทั้งหมด";
    }
    #student>h5::before{
        content: "ผลงานนักศึกษา";
    }
    #exchange_scholarship>h5::before{
        content: "ทุนและโครงการแลกเปลี่ยน";
    }
    #co_operative>h5::before{
        content: "สหกิจศึกษาและฝึกงาน";
    }
    #research>h5::before{
        content: "สัมมนาและงานวิจัย";
    }
    /* end tab allnew */


    /* TAB Exchange program*/
    #exdetail-tab-just>span,#exprogram-tab-just>span,#exteacher-tab-just>span,#exstudent-tab-just>span,#exuniversity-tab-just>span{
        display: none;
    }
    #exdetail-tab-just::before{
        font-family: FontAwesome;
        content: "\f0f6";
    }
    #exprogram-tab-just::before{
        font-family: FontAwesome;
        content: "\f19d";
    }
    #exteacher-tab-just::before{
        font-family: FontAwesome;
        content: "\f2bc";
    }
    #exstudent-tab-just::before{
        font-family: FontAwesome;
        content: "\f2ba";
    }
    #exuniversity-tab-just::before{
        font-family: FontAwesome;
        content: "\f00b";
    }
    #exdetail>h5::before{
        content: "รายละเอียดโครงการแลกเปลี่ยน";
    }
    #exprogram>h5::before{
        content: "ประกาศรับสมัครโครงการแลกเปลี่ยน";
    }
    #exteacher>h5::before{
        content: "บันทึกประสบการณ์นักศึกษาโครงการแลกเปลี่ยน ดูงานและทัศนศึกษา";
    }
    #exstudent>h5::before{
        content: "บันทึกประสบการณ์อาจารย์/บุคลากรโครงการแลกเปลี่ยน ดูงานและทัศนศึกษา";
    }
    #exuniversity>h5::before{
        content: "รายชื่อมหาวิทยาลัย/สถาบันต่างประเทศที่มีความร่วมมือทางวิชาการ";
    }

    /* tnipresentation หน้า home */
    #m_present>a>i{    /* ไม่แสดง icon ที่ปุ่ม*/ 
        display: none;
    }

    .btn-all{ 
        width: 100%;
        margin: 15px 0;
        text-align: center;
        background: #f50000 !important; 
        
    }

    #m_present>a.btn-all{   /* แสดงปุ่มเล็ก */
        display: inline-block ;

    }
    .card#dt_present{   /* ไม่แสดงปุ่มที่เป็น card*/
        display: none;
    }
  
    /* tni presentation 3 ภาษา */
    .present{
        text-align:center;
    }
    .present>div>div>iframe{
        margin-bottom: 0.5em; 
        margin-top: 1.0em;  
    }
    .present>div>#th::after{
        content: "Thai Version";
        font-size: 35px;
    }
    .present>div>#en::after{
        content: "English Version";
        font-size: 35px; 
    }
    .present>div>#jp::after{
        content: "Japanese Version";
        font-size: 35px;
    }
    .present>div>h2{
        display: none;
    }

 
   


}



#history-line{
    background-color:#AAA;
    color:#fff;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    /* margin-top: 5px;  */

}
#fac-line-footer h2 ,#fac-line-footer{
    background-color:#999;
    color:#fff;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    
    /* margin-bottom: auto; */

   

}
.major-eng h1{
    color:rgb(167, 0, 0);
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: -2px;
} 
.major-ba h1{
    color:#6EC8FF;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: -2px;
} 
.major-it h1{
    color:#302b82;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: -2px;
} 
.major-cgel h1{
    color:#FFAB00;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: -2px;
} 

/* #fac-nav-pec img:hover{
   
} */

[id^=fac-line-] a { 
    text-decoration: none;
  }

/* fac eng */
#fac-line-eng {
    background-color:#610000;
    color:#fff;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
 
}

#fac-line-eng-white , #fac-line-eng-white h1{
    /* background-color:brown; */
    color:#610000;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}
#fac-line-eng-white h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}

#fac-line-eng-gray , #fac-line-eng-gray h1 {
    background-color:#ededed;
    color: #610000;
    /* font-size: 28px; */
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}
#fac-line-eng-white p{
    color: #767676;
}
#fac-line-eng-gray h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}

/* fac ba */
#fac-line-ba {
    background-color:#6EC8FF;
    color:#fff;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}

#fac-line-ba-white , #fac-line-ba-white h1{
    /* background-color:brown; */
    color:#6EC8FF;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    
}
#fac-line-ba-white h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}
#fac-line-ba-gray , #fac-line-ba-gray h1 {
    background-color:#ededed;
    color: #6EC8FF;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}
#fac-line-ba-gray h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}

/* fac IT */
#fac-line-it {
    background-color:#302b82;
    color:#fff;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}

#fac-line-it-white , #fac-line-it-white h1{
    /* background-color:brown; */
    color:#302b82;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
#fac-line-it-white h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}
#fac-line-it-gray , #fac-line-it-gray h1 {
    background-color:#ededed;
    color: #302b82;
    /* font-size: 28px; */
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
#fac-line-it-gray h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}

/* fac C-Gel */
#fac-line-cgel {
    background-color:#FFAB00;
    color:#fff;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}

#fac-line-cgel-white , #fac-line-cgel-white h1{
    /* background-color:brown; */
    color:#FFAB00;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
#fac-line-cgel-white h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}
#fac-line-cgel-gray , #fac-line-cgel-gray h1 {
    background-color:#ededed;
    color: #fefbce;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
#fac-line-cgel-gray h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}



#history-second-line{
    background-color: #610000;
    padding: 10px 0;

}


#history-menu{
    background-color:#FFF;
    color:#fff;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;

}

#faculty-menu h1{

    color:#fff;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;


}
#faculty-menu{
    background-color:#FFF;
    color:#fff;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px; 

}


#history-menu .history-item a {
    display: block;
    position: relative;
    margin-top: 10px;

}
#history-menu .history-item-row a {
    display: block;
    position: relative;
    margin-top: 12px;
    color: #333

}

#history-tni h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color:#555;
    margin: 1.5em;
}
#history-tni h5 {
    /* font-size: 10px; */
    /* line-height: 30px; */
    /* margin-top: 10px;  */
    /* font-weight: 600;  */
    color:#767676;
    /* margin: 2em; */
    text-align: justify;
}
#mission
{

    line-height: 30px;
    color:#555;
    margin: 1.5em;
    text-align: justify;
}

#img-graduate{
    height: 180px;  /* ความสูงปรับให้เป็นออโต้ */
    width: 190px;  /* ความสูงปรับให้เป็นออโต้ */
    border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
    box-shadow: 0 0 5px #fff ;/* เงาของรูป */
    margin: 0 0 15px 0;

}
#eng, #bu{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }

  #eng {
    padding: 50px;
    display: none;
  }

  /* #dropdown-bachelor { */
    [id^=dropdown-bachelor_] {
    background-color:  #d7d7d7; 
    color:#555;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 5px 0;
    text-align: left 5px;
    
  }

  [id^=dropdown-bachelor_].active{
    background-color: #000a53 !important;
    color:#fff !important;
  }

  [id^=faq-].active { 
    background-color: #2d3691;
    color:#fff !important;
  }

  [id^=faq-].active a { 
    color:#fff !important;
  }

  .card-body{
   background: #2d3691;
   font-size: 28px;
  }
  #card_bec{
    background:#000a53 ;
  }


  .card-body:hover{
    background:#000a53;
   }

  .card-body.danger {
    background:  #f50000;
    font-weight: 600;
    font-size: 20px;
    
  
   }
   .card-body.danger a{
    color: #FFF;
    text-decoration: none;
   }

   .card-body.danger:hover{
    background: #d81638;
   }

   .card-body.bacherlor {
    background: #ededed;
    
    border : 1px solid #2d3691;
    text-indent: 7%;
    font-size: 28px;
    color:#2d3691;
    font-weight: 600;
   }
   
   #collapse1 a {
    text-decoration: none;
   }
   #collapse1 a :hover{
    text-decoration: none;
    background: #d7d7d7;
   }

   .card-body.faq{
    border: solid 1px #ededed;
    background-color: #FFF;
    text-align: justify;
    color: #555;
    font-size: 20px;
   }

  #question{  /*  คำถามพบบ่อย */
    color:#555;
    font-size: 24px;              
    font-weight: 600;
  }

  [id^=faq-]{ 
     background-color: #fff;   
  }
  

  .mb-0 a{
    
    display: block;
    position: relative;
    text-decoration: none;
    color: #555;
     font-size: 26px;  /* font-size: 20px; */
    font-weight: 600;
  }

  .faq{
      text-indent: 25px;
      text-align: justify;
  }
  /* .mb-0 > a:after {
    content: "\f053"; up
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\f078";  dow
  } */

  #admiss-nav-pec h1 {          /* admission nav right*/
    background-color:#FFF;
    padding: 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid #ededed 1px;
}

#admiss-nav-pec h1,
#admiss-nav-pec a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-align: left;
    
}

.admiss-nav-pec-item img:hover,
.news-nav-pec-item img:hover {
    opacity: 0.5 ;
    filter: alpha(opacity=50) ; /* For IE8 and earlier */
    
}

.admiss-nav-pec-item >div,
.news-nav-pec-item >div {
    overflow: hidden;
    border: solid #ededed 1px;
}

.admiss-nav-pec-item >div:hover div,
.news-nav-pec-item>div:hover div,
.admiss-nav-pec-item >div:focus div,
.news-nav-pec-item>div:focus div {
    transform: scale(1.3);
}


/* tab allnews */
#myTabJust a {            
    color: #767676;
    text-decoration: none;
    font-size: 24px;
    line-height: 22px;
    /* font-size: 24px;
    line-height: 22px; */
    font-weight: 600;
    text-align: center;
   
}
#myTabJust a.active{
    border-bottom: 6px solid #f50000; 
    position: relative;
    color: #0f3b9e;    
}

.tabbable-line > .nav-tabs > li > a {
    border: none;
   
  }

#myTabContentJust{
    border: none;
    border-top: 2px solid #ededed; 
  } 
  /* end tab allnews */         

  
  #news-nav-pec h1 {          /* admission nav right*/
    background-color:#FFF;
    padding: 5px 5px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    border: solid #ededed 2px;

}


#news-nav-pec h1,
#news-nav-pec a {
    color: #333;
    text-decoration: none;
    font-size: 21px;
    line-height: 18px;
    font-weight: 600;
    text-align: left;
    
}


#background-new-detail{
    background-color: #ecf0f5 ;
}

#background-white{
    /* color: #767676; */
    background-color: #FFF;
    padding: 10px 0;
    text-align: center;
 
}
#social-share ,#social-share a {
    color: #c3c3c3;
    background-color: #FFF;
    padding: 10px 0;
    padding-bottom: 1px;
    font-weight: 600;
    /* font-size: 24px; */
    text-align: center;
 
}
#social-share a:hover {
    color: #2d3691;
    text-decoration: none;
}

#background-white h3{
    text-indent: 0.7em;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
    text-align: left;

}
#background-white h5 {
    /* color: #767676; */
    text-align: justify;
    /* text-indent: 1.5em; */
    padding: 1em;
}


#background-white img{
    text-align:center;
}

#tab-news a.active{
    background-color: #ecf0f5 ;
    /* border-top: #f50000 solid 3px; */
    position: relative;
    color: #f50000;   
   
}
#tab-news a {           
    color: #f50000;  
    border-top: #f50000 solid 3px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
  
 
}
#tab-news-detail , #tab-news-detail h5 ,#tab-news-detail img ,#tab-news-detail a {  
     /* tab detail  */       
    background-color: #ecf0f5;
    /* border: solid #AAA ; */
    text-align: left;
    /* font-size: 20px; */
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    color:#212529;  
    
}
#tab-news  {            
    background-color: #d7dce6;
    
 }
 #tab-news-detail{
    padding-left: 0.8em ;
    border: 1px solid #d7dce6;
    padding-right: 0.8em;
}
 .contact a {
    color: #333;
    text-decoration: none;
 }
 .contact h3 {
    color: #555;
}
.contact h4, .contact>table{
    color:#333;
    padding-left: 1.5em;
    padding-top: .3em;
    
}
.contact a:hover {
    color: #2d3691;
    font-weight: 600;
    
}
#card-dep{
    margin-bottom: 1em;
    text-align:center; 
    font-size: 28px; 
    
}
.card-body.dep ,.card-body.t_eng,.card-body.t_it,.card-body.t_ba,.card-body.t_cgel{
   background: #2d3691;
   line-height: 34px;
   text-align: center;
   box-shadow: #999 0.3em 0.3em 0.1em; 
    border-radius: 6px;
   
}
.card-body.dep:hover{
    background:#d81638;
}

/*teacher */

.card-body.t_eng:hover{
    background: rgb(167, 0, 0);
}
.card-body.t_it:hover{
    background: #302b82;
}
.card-body.t_ba:hover{
    background: #6EC8FF;
}
.card-body.t_cgel:hover{
    background: #FFAB00;
}


/* Board and Excutives */
#card-board{
    margin-bottom: .5em;
    text-align:center; 
    
}
.card-body.board{
   background: #2d3691;
   font-size: 28px; 
   line-height: 32px;
   text-align: center;
   padding: 0.8rem;
    
   /* box-shadow: #999 0.3em 0.3em 0.1em; 
    border-radius: 6px; */
   
}
.card-body.board:hover{
    background:#d81638;
}

/* board */

.home-board-item ,.home-executive-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.home-executive-item div{
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 100%; 
}

.home-board-item div {
    
    background-position: center;
    background-repeat: no-repeat; 
  background-size: cover ;
  width: 100%;
  height: 100%; 
    
}


/* .home-board-item:hover  h1, 
.home-board-item:focus  h1 {
    height: 40%; 
    /* font-size: 20px;
    padding: 8px;
    line-height: 17px;
    text-align:center;  
} */
.home-executive-item:hover  h1, 
.home-executive-item:focus  h1 {
    height: 38%; 
    /* font-size: 20px;
    padding: 8px;
    line-height: 17px;
    text-align:center;  */
}

.home-executive-item h1 {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 7px;
    font-size: 19px;
    width: 100%;
    line-height: 19px;
    background: rgba(0, 8, 87, 0.55);
    height: 18%;
    text-align:center;
   
}
.home-board-item h1 {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 13px;
    font-size: 20px;
    width: 100%;
    line-height: 19px;
    background: rgba(0, 8, 87, 0.55);
    height: 17%;
    text-align:center;
   
}



.home-board-item a ,.home-executive-item a {
    text-decoration: none;
    color: #FFF;
}
#download {   
    color:#f50000;  
}

#tni_channel{
    margin-top: 2em;
    width: 80%;
    height: 100%;
    margin: auto;
}

/* overlay color fac_thumnel */
  
#fac_engineer ,#ba,#it,#cgel {
    position: relative;
  }
  
#fac_engineer:after ,#ba:after,#it:after,#cgel:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0;
  }
  
  #fac_engineer:hover:after {
    background-color: rgb(167, 0, 0);
    filter: alpha(opacity=50) ; 
    opacity: .5;
  }
  #ba:hover:after {
    background-color: #6EC8FF;
    filter: alpha(opacity=50) ; 
    opacity: .5;
  }
  #it:hover:after {
    background-color: #302b82 ;
    filter: alpha(opacity=50) ; 
    opacity: .5;
  }
  #cgel:hover:after {
    background-color: #FFAB00;
    filter: alpha(opacity=50) ; 
    opacity: .5;
  }
 /* end overlay color */ 

 #download a{
     background-color:#d81638;
     border: 1px solid #d81638;
     color: #FFF;
 }

/* tab exchange */
#exTabJust a {            
    color: #767676;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}
#exTabJust a.active{
    border-bottom: 6px solid #f50000; 
    position: relative;
    color: #0f3b9e;    
}

.tabbable-line > .nav-tabs > li > a {
    border: none;
  }

#exTabContentJust{
    border: none;
    border-top: 2px solid #ededed; 
  } 
  /* end tab exchange */         
 
#tags a {
    text-decoration: none;
    color : #0f3b9e;
}

/* weblink */
.weblink a{
    text-decoration: none;
    /* color:rgba(89, 171, 227, 1); */
    color:rgba(52, 152, 219, 1);
} 

/* tni presentation หน้า home */
 #home-present {
    padding-top: 25px;
    background-color: #f4f4f4;
    padding-bottom: 25px;
}

#home-present h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #610000;
    /* color: #2d3691; */
    margin: 0px 0 15px 0;
}

#home-present .video-item {
    position: relative;
}

#home-present .video-item a {
    display: block;
    position: relative;
}


.btn-all{
    display: inline-block;
    color: #FFF !important;
    background: #AAA;
    padding: 5px 15px 3px 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;   
}

.card#dt_present{
    background: #AAA;
    border-color: #AAA;
    margin-top: 44px;
    height:88.0%
}

 /* ซ่อนปุ่มเล็กเมื่อยู่หน้าจอเดสก์ท็อป*/
 #m_present>a {    
    display: none ;
} 

 .card#dt_present span {
        font-size: 35px;
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align:center;
      }
      .card#dt_present a{
            color: #fafafa;
            text-decoration: none;      
        }
        .card#dt_present:hover{
            background: #c3c3c3;
            border-color: #c3c3c3;
        }
         
/*หน้า tni presentation 3 version*/
.present{  
    margin: 0 0 50px; 
}
.present h2{
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align:center;
}

.navbar-collapse{
    flex-grow: 0.5 !important;
    
}
#home-course a#more,#home-course a#more:hover{  
    color:#610000;
    /* font-weight: 600;  */
    text-align:center;
    text-decoration: none;
}

.fac_detail{
    color:#767676; 
    text-align:justify;
    text-indent: 1.0em;
    margin-left: 13px;
}

.table-light td{
    text-align:center;
}
.table-default td{
    background-color:#ededed;
    text-align:center;
}
.table-default#det td,.table-light#det td{
    text-align:center;
}
.table-default#det td#topic ,.table-light#det td#topic{
    text-align:left;
    text-indent:15px;
}
.unit{
    margin-left: 13px;
    font-weight: 600;
    color: #767676
}
.table .unit td{
    padding: 17px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #767676;
   
    
}

.major-item a#fac{
    margin: 5px;
}
.fac-item a#fac{
    margin: 5px;
}

/* fac IT */
#fac-line-it-header {
    background-color:#ededed;
   
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
.major-item, .major-item a {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#767676 ;
}

#fac-line-it-header , #fac-line-it-header h1{
    /* background-color:brown; */
    color:#302b82;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
#fac-line-it-header h2{
    color: #767676;
    text-decoration: none;
    font-size: 28px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}


/*fac eng*/
#fac-line-eng-header {
    background-color:#ededed;
   
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
.major-item, .major-item a {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#767676 ;
}

#fac-line-eng-header , #fac-line-eng-header h1{
    /* background-color:brown; */
    color:#610000;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
   
}
#fac-line-eng-header h2{
    color: #767676;
    text-decoration: none;
    font-size: 28px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}



.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  #end-apply {
    background: #fff;
    padding: 8px 0;
  
    text-align: center;
}

#end-apply a {
    text-decoration: none;
    display: inline-block;
}

#end-apply>div>div:nth-child(1),
#end-apply>div>div:nth-child(2),
#end-apply>div>div:nth-child(3)

{
    display: inline-block;
    text-align: center;
}
#end-apply>div>div:nth-child(2)
{
   
        height: 35px; /* ความสูงของเส้น */
        width: 1px; /* ความหนาของเส้น */
        background-color: #d7dce6 ; /* สีของเส้น */
        display: inline-block;
        /* padding-left: 4px; */
        
}
#end-apply>div>div:nth-child(1)>a {
    color: #610000;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    position: relative;
    /* margin-right: 15px; */
} 
#end-apply>div>div:nth-child(1)>a::before {
    font-family: FontAwesome;
    color: #610000;
    content: "\f19d";
    position: absolute;
    /* top: 1px; */
    left: -50px;
   
    font-size: 35px;
}

#end-apply>div>div:nth-child(3)>a {
    /* background: #ff0000; */
    background: #610000;
    color: #FFF;
    font-size: 26px;
    line-height: 26px;
    /* font-weight: 600; */
    letter-spacing: 2px;
    padding: 10px 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#end-apply>div>div:nth-child(1)>a:hover,
#end-apply>div>div:nth-child(1)>a:hover::before {
    color : #21409a;
    
}

#end-apply>div>div:nth-child(3)>a:hover
{
    /* background: #d81638; */
    background: #21409a;
}

.news_home .news_list .thumb {
    border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
    box-shadow: 0 0 2px #767676 ;/* เงาของรูป */
}

.news_home .news_list {
    margin-bottom: 35px;
}

.truncate_text_event#news-topic {
    margin: 10px 0 15px 10px;
}
#news-topic a{
    text-decoration: none;
    color: #333;
    position: relative;
   
}

#news-topic h5{
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

/*support*/
.card-polaroid{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1.5em;
}

.card-body#support {
    background-color: white;
    text-align: center;
    color: #767676;
    padding: 0.5rem;
  }
#support p{
    font-size: 21px;
}

.container#logo-tni{
 
    /* text-align: right!important; */
    text-align: center; 
}

@media(max-width: 991px) {
    .row#dt{
        display: none ;
    }
    #tni-logo > a.btn-logo{    
        display: inline-block ;
    } 
    .btn-logo{
        width: 100%;
    margin: 15px 0;
    text-align: center;
    }
}

@media(max-width: 767px) {
    /* #tni-logo>a>i {    
        display: none ;
    }  */
    #tni-logo > a.btn-logo{    
        display: inline-block ;
    } 

    .row#dt{
        display: none ;
    }

    .btn-logo{
        width: 100%;
    margin: 15px 0;
    text-align: center;
    }
    /* #test_logo{ 
        display: block !important;
        background: #f50000;
    } */
}

@media(max-width: 575px) {
    #tni-logo>a>i {    
        display: none ;
    } 
   
    .row#dt{
        display: none ;
    }

    /* #test_logo{ 
        width: 100%;
        margin: 15px 0;
        text-align: center;
        background: #f50000 !important;
    } */
}


 #tni-logo>a {    
    display: none ;
} 


.btn-logo{
    display: inline-block;
    padding: 5px 15px 3px 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;   
}


/*tabs major fac_eng*/

#nav-tab >.nav-link.active {
    color: #610000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 26px;
    font-weight: bold;
}

#nav-tab >.nav-link {
    color: #767676;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover {
    border: none;
}

#download-doc .btn{
    background: #610000;
    border-color: #610000;
    color : #fff;
    border-radius: 15px;
    margin: 4px 0;
    font-size: 26px;
    line-height: 24px;
    padding: 12px 15px;
    /* display: block; */
}
#download-doc .btn:hover{
    background-color: #21409A;
    border-color: #21409A;
}

/* end tabs major fac_eng*/


 /* ไม่แสดง icon ที่ปุ่ม*/ 
/* #logo-tni > a{   
    display: none;

} */

/* .btn-facebook-lte {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social-lte {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
} */






/* 
    End Session : Added by ju
    ntima
*/
/* ===============================================================================================================   */
  
/* 
    added by Metha<fakestore@gmail.com>
    jan 21,2019
*/
  
  /* แสดง ว่าเราอยู่ส่วนไหนของเว็บ เช่น home/sub/current page */
  ul.breadcrumb {
    list-style: none;
    padding   : 0;
    margin    : 0;
  }
  ul.breadcrumb li {
    display: inline;
  }
  ul.breadcrumb li+li:before {
    padding: 5px;
    color  : #01447e; 
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color          : #01447e;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    /* color          : #0275d8; */  
    color          : #01447e;
    text-decoration: none;
  }
  ul.breadcrumb li.active {
    color: #01447e;
   
  }
.breadcrumb{
    background-color: #ededed !important;
}

/* .history_thumb_show div:not(:last-child){ */
/* ทำเป็นภาพ thumbnal ของแต่ละเมนู */
.history_thumb_show div{
    margin-bottom:10px;
}
    .history_thumb_show .custom-card {
        background-color: #2d3691;
        line-height     : 1em;
        height          : 6.9em;
        widows          : 100%;
    }
        .history_thumb_show .custom-card .fa {
            font-size:2em;
        }

    .history_thumb_show .custom-card2 {
        background-color: #f50000;
        width           : 100%;
        height          : 128px;
        line-height     : 126px;
        margin-bottom   : 10px ;
        font-size       : 0.85em;
    }

    /* ทำเคอร์เซอร์ตอนอยู่บนภาพ thumbnal ให้เป็นรูปมือ (เหมือนปุ่มกด)*/
    .history_thumb_show [class^=col-xs] a{
        cursor         : pointer;
        color          : inherit;
        text-decoration: none;
    }
/*
    Texts are on image
    CR:https://www.w3schools.com/howto/howto_css_image_text.asp
*/
.banner_caption
{
    text-align : center;
    position   :relative;
    color      :inherit;
}   
	.banner_caption .centered
	{
		position : absolute;
		top      :50%;
		left     : 50%;
		transform: translate(-50%, -50%);
		font-size: 0.85em;
        width    :100%;
    }
    .banner_caption .centered_bottom
	{
		position : absolute;
		top      :85%;
		left     : 50%;
		transform: translate(-50%, -50%);
		font-size: 0.85em;
        width    :100%;       
    }

    @media(max-width: 991px) {
        .history_thumb_show .custom-card {
            line-height     : 1em;
            height          : 4.9em;
            widows          : 100%;
            /* font-size: 0.8em; */
        }   

        .history_thumb_show .custom-card2 {
            width           : 100%;
            height          : 75px;
            line-height     : 75px;
            margin-bottom   : 10px ;
            font-size       : 0.8em;
        }
        .banner_caption 
        {
            font-size : 0.8em;
        }

        .history_thumb_show .custom-card .fa
        {
            font-size : 1.5em;
        }
    }

    @media(max-width: 767px) {
        .history_thumb_show .custom-card
        ,.history_thumb_show .custom-card2
        ,.banner_caption
         {
            font-size: 1em;
        }
        
        .history_thumb_show .custom-card .fa
         {
            font-size: 1.5em;
        }
    }
    /* @media(max-width: 575px) {
           
    } */    
/* 
    ย้อมสีรูปแบนเนอร์
    cr:https://stackoverflow.com/questions/16679093/transparent-div-over-an-image-but-opaque-text 
*/
/* 
    ใช้ใน : แนะนำสถาบัน 
*/
.tranparent_color_container{
    position: relative;
} 
    .tranparent_color_container .tranparent_color_cover{
        position: absolute;
        /* background-color: rgba(0,0,0,0.65); */
        background-color: rgba(45, 54, 145,0.5);
        height          : 100%;
        width           : 100%;
        bottom          : 0px;
        top             : 0px;
        z-index         : 1;
    }

#history-tni h4{
    text-indent: 2em;
    text-justify: auto;
}



/* แสดงผลในข้อพันธกิจ */
.custom_list{
    font-size:1.2em;
    padding-left:2em;
}
    .custom_list li{
        text-justify: auto;
        margin-bottom:0.5em;
    }

   .truncate_text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
        /* white-space  : normal;       
         */
        /* text-decoration: blink; */
    
       
    } 
    .truncate_text_event{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

/*
    ใช้กับ รายละเอียด เช่า Event update
*/
.detail_content{
    font-weight: bold;
    /* font-size: 1.2em; */
}

/* 
    ใช้แสดงวันที่สร้าง / ลาสอัพเดทของข่าว
    .ใต้หัวข้อข่าวต่างๆ
*/
.poston2{
    color: #a6a6a6;
    vertical-align: top;
    display: inline;
}
.poston{
    color: #a6a6a6;
    vertical-align: top;
    /* display: inline; */
}


/* 
    for NEWS
*/
#news-nav-pec2 h1 {          /* admission nav right*/
    background-color:#FFF;
    padding: 5px 5px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    border: solid #ededed 2px;
}

    #news-nav-pec2 h1,
    #news-nav-pec2 a {
        color: #333;
        text-decoration: none;
        font-size: 20px;
        line-height: 18px;
        font-weight: 600;
        text-align: left;
    }

.tags{
    font-size:1em;
}
.tags a{
    text-decoration: none;
    color:inherit;
}
.tags a:hover{
    text-decoration: none;
    color:inherit;
}

  /* 
    End Session : Added by Metha  
  */

