/* Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Prompt:100,300,400,500,600,700,800,900&subset=thai');
@import url('../fonts/helvethaica/stylesheet.css');

/* Bootstrap Grid System Breakpoint: xs<576, sm>=576, md>=768, lg>=992, xl>=1200 */


/* Global */

body {
    font-family: 'DB HelvethaicaMon X 57 Cond';
    font-size: 20px;
    line-height: 20px;
    height: 100%;
    min-height: 100%;
    position: relative;
}

* {
    -o-transition: .6s;
    -ms-transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
}

.transition-none {
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

.transition-slow {
    -o-transition: 1.0s;
    -ms-transition: 1.0s;
    -moz-transition: 1.0s;
    -webkit-transition: 1.0s;
    transition: 1.0s;
}

input {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

.shake:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.shake.active {
    color: #FFF;
    background: #d81638;
    border-color: #d81638;
}


.btn-more {
    display: inline-block;
    color: #FFF !important;
    /* background: #f50000; */
    background: #21409a;
    padding: 5px 15px 3px 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.btn-more:hover {
    background: #668eea;
    /* background: #ef4f10; */
    color: #FFF;
    text-decoration: none;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.play-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: .5;
}

.play-overlay:hover {
    opacity: 1;
}

#go2top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    line-height: 16px;
    color: #FFF;
    z-index: 99;
    display: none;
    opacity: 0.5;
    padding: 3px 9px 9px 9px;
    background: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media(max-width: 767px) {
    .btn-more {
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }
}


/* End Global */


/* Overide Bootstrap */

.bg-light {
    background-color: transparent !important;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    /* max-height: 250px; */
    max-height: 500px;  /* edit juntima 26-12-62 */
    opacity: 1;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    min-width: 10rem;
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #FFF;
    text-align: left;
    list-style: none;
    /* background-color: #767676; */
    background-color: none;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
}

.dropdown-item {
    font-size: 22px;
    line-height: 22px;
    display: block;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 1px;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    /* background-color: transparent; */
    border: 0;
}

.dropdown-item:visited,
.dropdown-item:link {
    color: #FFF;
    background-color: #767676;
}

.dropdown-item:hover,
.dropdown-item:active {
    color: #FFF;
    /* background: #a8a8a8; */
    background: #2d3691;
}

.navbar-toggler {
    padding: 10px 12px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #2d3691;
    border: none;
}

.navbar-toggler i {
    color: #FFF;
}


/* End Overide Bootstrap */


/* Overide Swiper */

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #FFF;
    opacity: 0.7;
    border: 1px solid #AAA;
    outline: none;
}

 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #AAA;
}

.swiper-pagination-graduate-bullet {    /* add page graduate faculty*/
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    background: #FFF;
    opacity: 0.7;
    border: 1px solid #999;
    outline: none;
}

.swiper-paginations-graduate-bullet-active {
    opacity: 1;
    background: #d81638;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#hero-banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* End overide Swiper */


/* Header */

#header {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding: 15px 0 20px 0;
    /* background-color: #4b4c4b; */
    background-color: #ededed;
    /* align-items: center; */
    /* align-content: center; */
}
#header.nevmenu{
    background-color: #4b4c4b; /* เฉพาะ bg ของเมนู*/
}

#header-logo {
    /* display: flex;
    flex-direction: column-reverse;
    position: relative; */
    padding: 15px 0 0 0;
    background-image: linear-gradient( #29303a, #4b4c4b);
    /* background-color: #ededed; */
}

#header>nav {
    padding-top: 0px;
    margin-top: -10px;
}

#header .navbar-nav>li>a {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #808285;
}

#header .navbar-nav>li>a:hover {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}


/* #header .navbar-nav>li>a:hover {
    /* color: #d81638; 
} */

#header .nav-item {
    position: relative;
    margin: 0 10px 0 0;
}

#header .nav-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: -7px;
    width: 7px;
    height: 20px;
    border-right: 1px solid #999;
}

#header .nav-item:last-child:after {
    display: none;
}

.language {
    font-size: 12px;
    color: #808285;
    /* color: #666; */
    display: table;
    width: 100%;
    padding-right: 30px;
}

.language a {
    text-decoration: none;
    color: #808285;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.language a.active {
    font-weight: 600;
    color: #fff;
    /* color: #333; */
}

.language a:hover {
    color: #fff;
    /* color: #333; */
}

.language ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.language ul li {
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
}

.language li:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: -5px;
    width: 7px;
    height: 10px;
    border-right: 1px solid #999;
}

.language li:last-child:after {
    display: none;
}

 .headerhistory{
    background:#668eea;
    /* padding: 8px 0; */
    text-align: left;

}

.second-header {   /* แนะนำสถาบันเทคโนโลยีไทย-ญี่ปุ่น */

    color: #0f3b9e;
    font-size: 28px;
    line-height: 50px;
    font-weight: 600;


}

#apply-now {
    background: #d7d7d7;
    padding: 8px 0;
    text-align: right;
}

#apply-now a {
    text-decoration: none;
    display: inline-block;
}

#apply-now>div>div:nth-child(1),
#apply-now>div>div:nth-child(2),
#apply-now>div>div:nth-child(3),
#apply-now>div>div:nth-child(4) {
    display: inline-block;
    text-align: center;
}

#apply-now>div>div:nth-child(1)>a {
    color: #610000;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    position: relative;
    /* margin-right: 15px; */
}

#apply-now>div>div:nth-child(1)>a::before {
    font-family: FontAwesome;
    color: #610000;
    content: "\f095";
    position: absolute;
    /* top: 1px; */
    left: -30px;
    font-size: 30px;
}

#apply-now>div>div:nth-child(2)>a {   /* facebook */
    /* color: #0f3b9e; */
    font-size: 28px;
    line-height: 28px;
    /* font-weight: 600; */
    position: relative;
    margin-right: 8px;
    margin-left: 8px;
    top: 5px;
}

#apply-now>div>div:nth-child(3)>a {  /* line */
    color: #00b900;
    font-size: 28px;
    line-height: 28px;
    /* font-weight: 600; */
    position: relative;
    margin-right: 8px;
    /* padding-top:15px; */
    top: 5px;
}

#apply-now>div>div:nth-child(4)>a { /*สมัครเรียน*/
    /* background: #ff0000; */
    background: #610000;
    color: #FFF;
    font-size: 26px;
    line-height: 26px;
    /* font-weight: 600; */
    letter-spacing: 2px;
    padding: 10px 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#apply-now>div>div:nth-child(4)>a:hover {
    /* background: #d81638; */
    background: #21409a;
}


/* .search-form */

.search-form {
    float: right;
    margin: -7px 10px 0 0;
}

.search-form input {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

.search-form input {
    background: #ededed url("../img/search-icon.png") no-repeat 8px center;
    border: solid 2px #d81638;
    padding: 7px 8px 7px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    position: relative;
}

.search-form input:focus {
    width: 130px;
    background-color: #fff;
    border-color: #293392;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

.search-form input::-moz-placeholder {
    color: #999;
}

.search-form input::-webkit-input-placeholder {
    color: #999;
}

.search-form input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

.search-form input[type=search]:hover {
    background-color: #fff;
}

.search-form input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

.search-form input:-moz-placeholder {
    color: transparent;
}

.search-form input::-webkit-input-placeholder {
    color: transparent;
}

@media(max-width: 767px) {
    #apply-now {
        background: transparent;
        padding: 5px 0;
    }
    #apply-now>div {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    #apply-now>div>div:nth-child(1),
    #apply-now>div>div:nth-child(4) {
        display: inline-block;
        width: 100%;
    }
    #apply-now>div>div:nth-child(4)>a {
        font-size: 22px;
        line-height: 22px;
        padding: 10px 18px;
        display: block;
        margin: 2px 0;
    }
    
    #apply-now>div>div:nth-child(1){
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        font-size: 18px;
        line-height: 18px;
        padding: 10px 18px;
        display: block;
        margin: 5px 0;
        background: #21409A;
        /* background: #f50000; */
       
    }
    #apply-now>div>div:nth-child(1)>a {
        color: #FFF;
        font-size: 22px;
        line-height: 22px;
       
    }
    #apply-now>div>div:nth-child(1)>a::before {
        color: #FFF;
        top: 2px;
        left: -30px;
        font-size: 26px;
    }

    #apply-now>div>div:nth-child(2),
    #apply-now>div>div:nth-child(3) {
        display: inline-block;
        width: 100%;
    }
    #apply-now>div>div:nth-child(2)>a,#apply-now>div>div:nth-child(3)>a {
        display: block;
        margin: 2px 0;
        color: #FFF;
        font-size: 21px;
    }

    #apply-now>div>div:nth-child(2), #apply-now>div>div:nth-child(3){
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding-bottom:5px;
        display: block;
        margin: 5px 0;
        background: #AAA;

    }

    #apply-now>div>div:nth-child(2)>a::after {
        color: #FFF;
        top: 2px;
        font-size: 22px;
        content: " @TNIadmissioncenter ";
    }
    #apply-now>div>div:nth-child(3)>a::after {
        color: #FFF;
        top: 2px;
        font-size: 22px;
        content: " @TNISAC";
    }

}

@media(max-width: 991px) {
    #header {
        padding: 10px 0 0px 0;
    }
    .navbar-brand {
        width: 45%;
        padding: 15px 0;

    }
    .language {
        padding-right: 0;
    }
    .language ul {
        list-style: none;
        margin: 0;
        padding: 15px 0;
        float: none;
    }
    .language ul li {
        margin: 0 10px 0 0;
    }
    .language li:after {
        top: 4px;
        right: -8px;
        width: 7px;
        height: 12px;
    }
    .navbar-collapse {
        border-top: 1px solid #666;
    }
    #header .nav-item {
        margin: 0;
        border-bottom: 1px solid #AAA;
    }
    #header .nav-item:last-child {
        border-bottom: none;
    }
    #header .nav-item:after {
        display: none;
    }
    .navbar-nav {
        margin: 0 auto;
        width: 90%;
    }
    .nav-link {
        padding: 0.7rem 1rem;
    }
}


/* End Header */


/* Hero Banner */

/* #hero-banner {} */

@media(max-width: 575px) {
    #hero-banner>div {
        padding: 0;
    }
}

@media(max-width: 767px) {
    #hero-banner {
        margin: 15px auto;
    }
}


/* End hero banner */


/* Footer */

#footer {
    margin: 15px 0 0 0;
    padding: 30px 0 0 0;
    background: #21409A;
    color: #FFF;
}

#footer a:link,
#footer a:visited {
    color: #FFF;
    text-decoration: none;
}

#footer a:active,
#footer a:hover {
    color: #d81638;
}

#footer h1 {
    font-size: 24px;
    line-height: 24px;
    border-bottom: 2px solid #FFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;
}

#footer ul li {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 100;
}

#footer .footer-download,
#footer,
.footer-faculty {
    margin-top: 00px;  /* 50px*/
} 

.footer-map iframe {
    width: 90%;
    height: 300px;
    margin-top: 10px;
}

.footer-copyright {
    margin: 30px 0 0 0;
    padding: 10px;
    background-color: #000a53;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}

.footer-fa {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
}

.footer-fa::before {
    font-family: FontAwesome;
    color: #FFF;
    position: absolute;
}

.footer-address::before {
    content: "\f041";
    top: 2px;
    left: 0px;
    font-size: 30px;
}

.footer-tel::before {
    content: "\f095";
    top: 2px;
    left: 0px;
    font-size: 28px;
}

.footer-web::before {  /* add 16/01/2020 juntima */
    content: "\f0ac";
    top: 2px;
    left: 0px;
    font-size: 28px;
}


.footer-email::before {
    content: "\f0e0";
    top: 0px;
    left: 0px;
    font-size: 22px;
}

.footer-direct::before {
    content: "\f007";
    top: 2px;
    left: 0px;
    font-size: 24px;
}

.footer-social {
    margin: 30px auto 0 0;
    text-align: center;
    width: 90%;
}

.footer-social>a {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 0 5px;
    border: 0px solid red;
    text-indent: -999999px;
    background-image: url(../img/social-icons-sprite.png);
    background-position-y: -1px;
    border-radius: 50%;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

.footer-social>a:hover {
    background-position-y: 34px;
}

.footer-social-twitter {
    background-position-x: 131px
}

.footer-social-facebook {
    background-position-x: 99px
}

.footer-social-google {
    background-position-x: 66px
}

.footer-social-youtube {
    background-position-x: 33px
}

@media(max-width: 575px) {
    #footer h1,
    #footer ul {
        margin-left: auto;
        margin-right: auto;
    }
    #footer ul {
        margin-bottom: 30px;
    }
    #footer .footer-download,
    #footer,
    .footer-faculty {
        margin-top: 0;
    }
    .footer-map iframe {
        width: 90%;
        height: 300px;
        margin-top: 10px;
        margin: 15px auto 0 auto;
        display: block;
    }
    .footer-social {
        margin: 30px auto;
    }
    .contact h4{
        font-size: 1rem;
    }
    .contact h3{
        font-size: 1rem;
    }
}


/* End footer */


/* Content body */

#content-wrapper {
    padding: 0;
}


/* End content body */


/* Home */

#home-course ,#fac-course{
    /* margin: 30px auto; */
    background-color: #ededed;
}

#home-course>h3 ,#fac-course>h3{
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    text-align: center;
    color: #610000;
    margin-bottom: 10px;
}

#home-course>div,#fac-course>div {
    text-align: center;
}

#home-course #major a,#fac-course a{ /*27-12-62 #home-course a.active add major*/
    display: inline-block;
    /* width: 12%; */
    text-align: center;
    /* border: 1px solid #2D3691; */
    /* padding: 10px 10px; */
    /* margin: 0 1% 2% 1%; */
    /* background: #ededed; */
    font-size: 24px;
    line-height: 24px;
    color: #999;
    font-weight: 600;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 15px;
}
#home-course #major a>img{
    width: 80%;
}
#home-course a#mit,#home-course a#dc{  /*add 25-12-19 juntima*/
    width: 35%;
}
#home-course a#bi{  /*add 26-12-19 juntima*/
    width: 25%;
}

/* #home-course #major a:hover ,#fac-course a:hover{
    color: #EEE;
    background: #d81638;
    border-color: #d81638;
} */
/* add 13-02-2019 faculty active bachelor  27-12-62 #home-course a.active add major */
/* #home-course #major a.active ,#fac-course a.active{  
    color: #EEE;
    background: #d81638;
    border-color: #d81638;
} */

#home-news>h1,
#home-event>h1 {
    font-size: 38px;
    line-height: 38px;
    font-weight: 600;
    /* color: #2d3691; */
    color: #610000;
    margin-bottom: 20px;
}

#home-news .swiper-button-prev,
#home-news .swiper-container-rtl .swiper-button-next {
    background-image: none;
    left: 0;
    right: auto;
    background: rgba(255, 255, 255, 0.9);
    height: 40px;
    width: 30px;
    outline: none;
    padding: 10px 10px 15px 5px;
    color: #555;
    opacity: 0.7;
}

#home-news .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: none;
    left: auto;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    height: 40px;
    width: 30px;
    outline: none;
    padding: 10px 5px 15px 10px;
    color: #555
}

.swiper-slide img {
    background: #f0f0f0;
}

.home-news-more {
    margin: 1.8% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.home-news-item {
    position: relative;
    width: 23.7%;
    overflow: hidden;
    border: solid #ededed 1px;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5PX;

  
}
/* 
.home-news-item {
    position: relative;
    width: 23.7%;
    overflow: hidden;
    border: solid #ededed 1px;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
 
  
} */
.pt-5{
   padding-left: 1.5em;   
}
.home-news-item div {
    background-position: center;
    background-size: cover;     

}

.home-news-item:hover div,
.home-news-item:focus div { 
    opacity: 0.7 ;
    filter: alpha(opacity=20) ;
}
.home-news-item h1{          /* admission nav right*/
    background-color:#FFF;
    padding: 0px 5px;   
}
.poston{   
    padding: 0px 5px;  
}
.home-news-item h1,
.home-news-item a ,.poston{
    color: #333;
    text-decoration: none;
    font-size: 18px;  /*defult font-size: 20px; line-height: 18/px;   */
    line-height: 20px; 
    font-weight: 600;
    text-align: left;   
}


.home-news-item a {
    text-decoration: none;
    color: #FFF;
}

#home-news a {
    margin-top: 15px;
}

#home-event {
    padding: 0 0 0 15px;
}

#home-event ul.timeline {
    list-style-type: none;
    position: relative;
}

#home-event ul.timeline:before {
    content: ' ';
    background: #21409A;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 1px;
    height: 100%;
    z-index: 9;
}

#home-event ul.timeline>li {
    margin: 0 0 73px 0; /* ความยาวของเส้น event*/
    padding-left: 30px;
    position: relative;
}

#home-event ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #21409A;
    left: -40px;
    width: 60px;
    height: 60px;
    z-index: 10;
    -o-transition: 1.0s;
    -ms-transition: 1.0s;
    -moz-transition: 1.0s;
    -webkit-transition: 1.0s;
    transition: 1.0s;
}

#home-event ul.timeline>li:hover:before {
    border-color: #610000;
}

#home-event ul.timeline a {
    display: block;
    text-decoration: none;
    color: #610000;
    /* color: #2d3691; */
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}



#home-event ul.timeline a:first-child {
    padding: 18px 0 5px 0;
}

#home-event .timeline-day {
    position: absolute;
    top: 17px;
    left: -18px;
    z-index: 11;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    color: #610000;
}

#home-event ul.timeline>li:last-child:after {
    position: absolute;
    bottom: 0;
    left: -16px;
    z-index: 9;
    content: ' ';
    height: 90%;
    width: 10px;
    background: #FFF;
}



#fac-nav-pec h1 {
    background-color:#AAA;
    padding: 20px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#fac-nav-pec h2{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}

#fac-nav-pec h1,
#fac-nav-pec a {
    color: #FFF;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}


#home-nav-pec {
    background-color: #f4f4f4;
    padding: 30px 0;
    margin-top: 50px;
}

#home-nav-pec h1,
#home-nav-pec a {
    color: #FFF;
    text-decoration: none;
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    text-align: center;
}

#home-nav-pec h1 {
    background-color: #610000;
    padding: 20px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#home-nav-pec img {
    width: 100%
}
.home-nav-pec-item img:hover {
    opacity: 0.5 ;
    filter: alpha(opacity=50) ; 
    /* For IE8 and earlier */ 
}

.home-nav-pec-item >div {
    overflow: hidden;
}

.home-nav-pec-item>div:hover div,
.home-nav-pec-item>div:focus div {
    transform: scale(1.3);
}

#home-learn2know {
    background: url(../img/bg_learn2know.jpg) no-repeat center center;
    background-size: cover;
}

#home-learn2know>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

#home-learn2know>div>div {
    color: #FFF;
}

#home-learn2know h1 {
    font-size: 38px;
    line-height: 38px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

#home-learn2know h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

#home-learn2know p {
    margin: 0 0 5px 0;
    font-size: 24px;
    line-height: 20px;
}

#home-learn2know a {
    color: #fff;
    background-color: #ff0000;
    padding: 5px 40px;
    display: table;
    margin-top: 5%;
    font-size: 30px;
    line-height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#home-channel {
    margin-top: 50px;
}


#home-channel h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #610000;
    /* color: #2d3691; */
    margin: 0 0 15px 0;
}

#home-channel .history-item a {
    display: block;
    position: relative;
    margin-top: 10px;

}
.history-item a:hover {
   text-decoration: none;
  
}



#home-channel .video-item {
    position: relative;
}

#home-channel .video-item a {
    display: block;
    position: relative;
}

#home-channel h2 {
    font-size: 26px;
    line-height: 26px;
    margin: 15px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#home-channel a {
    text-decoration: none;
    color: #fff;
    /* font-size: 18px; */
}
.fac-item ,.fac-item a {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#fff;

}
 

@media(max-width: 991px) {
    .home-news-more {
        flex-wrap: wrap;
    }
    .home-news-item {
        width: 49%;
    }
    #home-course a ,#fac-course a{
        width: 30%;
    }
}

@media(max-width: 767px) {
    #home-news,
    #home-event {
        padding: 0 15px;
        margin-top: 30px;
    }
    #home-news>h1,
    #home-event>h1 {
        font-size: 30px;
        line-height: 30px;
    }
    #home-nav-pec h1 {
        margin-bottom: 15px;
    }
    #home-nav-pec {
        margin-top: 30px;
    }
    #home-nav-pec img {
        display: none;
    }
    #home-learn2know a {
        margin-top: 10%;
    }
    #home-channel {
        margin-top: 20px;
    }
    #home-channel h1 {
        margin: 30px 0 15px 0;
    }
    #news-nav-pec h1 {
        margin-bottom: 15px;
    }
    #news-nav-pec {
        margin-top: 30px;
    }
    /* #news-nav-pec img {
        display: none;
    }
     */
   
}

@media(max-width: 575px) {
    #home-course>h3,#fac-course>h3 { /*หน้า home*/
        font-size: 22px;
        line-height: 24px;
    }
    #home-course a,#fac-course a {
        width: 98%;
    }
    #home-course a:nth-last-child(1) , #home-course a:nth-last-child(2){
        width: 98%;
    }
    #fac-course a:last-child{  /* หน้าคณะ*/
        width: 98%;
    }
    
    #home-learn2know a {
        width: auto;
        margin: 5% auto 0 auto;
        text-align: center;
        white-space: nowrap;
    }
    #home-learn2know>div {
        flex-direction: column;
    }
    #home-learn2know>div>div {
        padding: 0 15px;
    }





}


  
/* End Home */