@font-face {
    font-family: 'DB HelvethaicaMon X 57 Cond';
    src: url('DBHelvethaicaMonX-57Cond.woff2') format('woff2'), url('DBHelvethaicaMonX-57Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 85 Blk';
    src: url('DBHelvethaicaMonX-85Blk.woff2') format('woff2'), url('DBHelvethaicaMonX-85Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 75 Bd';
    src: url('DBHelvethaicaMonX-75Bd.woff2') format('woff2'), url('DBHelvethaicaMonX-75Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 68 MedCondIt';
    src: url('DBHelvethaicaMonX-68MedCondIt.woff2') format('woff2'), url('DBHelvethaicaMonX-68MedCondIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 66 MedIt';
    src: url('DBHelvethaicaMonX-66MedIt.woff2') format('woff2'), url('DBHelvethaicaMonX-66MedIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 77 BdCond';
    src: url('DBHelvethaicaMonX-77BdCond.woff2') format('woff2'), url('DBHelvethaicaMonX-77BdCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 58 CondIt';
    src: url('DBHelvethaicaMonX-58CondIt.woff2') format('woff2'), url('DBHelvethaicaMonX-58CondIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 86 BlkIt';
    src: url('DBHelvethaicaMonX-86BlkIt.woff2') format('woff2'), url('DBHelvethaicaMonX-86BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 56';
    src: url('DBHelvethaicaMonX-56Italic.woff2') format('woff2'), url('DBHelvethaicaMonX-56Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 67 MedCond';
    src: url('DBHelvethaicaMonX-67MedCond.woff2') format('woff2'), url('DBHelvethaicaMonX-67MedCond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 55';
    src: url('DBHelvethaicaMonX-55Regular.woff2') format('woff2'), url('DBHelvethaicaMonX-55Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 78 BdCondIt';
    src: url('DBHelvethaicaMonX-78BdCondIt.woff2') format('woff2'), url('DBHelvethaicaMonX-78BdCondIt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 76 BdIt';
    src: url('DBHelvethaicaMonX-76BdIt.woff2') format('woff2'), url('DBHelvethaicaMonX-76BdIt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HelvethaicaMon X 65 Med';
    src: url('DBHelvethaicaMonX-65Med.woff2') format('woff2'), url('DBHelvethaicaMonX-65Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}